<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title> Project Prediction</title>
  </head>
  <body>
    <h1>
      <div style='text-align:center'>
        <font color='blue'>
          Profit Prediction
        </font>
      </div>
    </h1>
    <hr>
    </br>

    <h2>
      <div style='text-align:center'>
        <font color='blue'>
          Enter the values for all parameters below
        </font>
      </div>
    </h2>
    </br>

    <div class='container'>
      <div class='row'>
        <div class='col-6'>
          <form method='POST' action='/predict'>
            <div class='form-group'>
              <label for='NewYork'><p class ="font-weight-bold">NewYork</p></label>
              <input type="text" name="NewYork" value="">
              </br>
              <small id='NYHelp' class=form_text text-muted>Enter 1 if state selected is NewYork else 0</small>

            </div>

            <div class='form-group'>
              <label for='California'><p class ="font-weight-bold">California</p></label>
              <input type="text" name="California" value="">
              </br>
              <small id='CALHelp' class=form_text text-muted>Enter 1 if state selected is California else 0</small>
            </div>

            <div class='form-group'>
              <label for='Florida'><p class ="font-weight-bold">Florida</p></label>
              <input type="text" name="Florida" value="">
              </br>
              <small id='FLOHelp' class=form_text text-muted>Enter 1 if state selected is Florida else 0</small>
            </div>

            <div class='form-group'>
              <label for='RnDSpend'><p class ="font-weight-bold">RnDSpend</p></label>
              <input type="text" name="RnDSpend" value="">
              </br>
              <small id='RnDHelp' class=form_text text-muted>Enter the value for RnD Spend</small>
            </div>

            <div class='form-group'>
              <label for='AdminSpend'><p class ="font-weight-bold">AdminSpend</p></label>
              <input type="text" name="AdminSpend" value="">
              </br>

              <small id='AdmnHelp' class=form_text text-muted>Enter the value for Administration Spend</small>
            </div>

            <div class='form-group'>
              <label for='MrktngSpend'><p class ="font-weight-bold">MrktngSpend</p></label>
              <input type="text" name="MrktngSpend" value="">
              </br>
              <small id='MrktHelp' class=form_text text-muted>Enter the value for Marketing Spend</small>
            </div>

            <input class='btn btn-primary' type ='submit',value='Submit'>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
